
    a{
        color: red;
        font size:30px;
        text decoration:None;
    }

    h1{
        text- align: center;
        font-size: 70px;
        margin down: 1200px;
        color: pink;
     }
     #logo{
         height: 100px;
         width: 70px;
         position: absolute;
         left:40px;
         top: 20px;
     }
     .nav{
         position: absolute;
         right: 450px;
         top: 15px;
     }

     .navlink{
         color: blue;
         font-size: 28px;
         text-decoration: none;
         right: 20;
         padding: 30px;
     }

     .navlink:hover{
         color: red;
     }